*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #A0D8EF;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container{
    width: 100%;
    max-width: 500px;
    height: 100%;
    background-color: #fff;
    padding: 20px;
    margin: 15px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.content{
    align-items: center;
    margin:2rem 0 2rem 0;
}
.content h1{
    color: #404040;
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 20px;
}
.content #info{
    color: #404040;
    text-align: left;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: small;
    font-weight: 400;
    margin-top: 20px;
}
.content h4{
    color: #404040;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
    margin-top: 20px;
}
.content select{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 13px;
}
.content img{
    width: 100%;
    border-radius: 5px;
    font-size: 13px;
}
.content button{
    width: 100%;
    padding: 10px;
    background-color: #404040;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}